[Unit]
Description=Cubic Doggo Robot Bringup
After=network-online.target time-sync.target
Wants=network-online.target time-sync.target

[Service]
Type=simple
User=kali
ExecStartPre=/bin/bash -c "until [ -e /dev/ttyUSB0 ]; do sleep 1; done"
ExecStart=/home/kali/Documents/CubicDoggo/start_robot.sh
KillMode=control-group
# Restart=no
Restart=on-failure
RestartSec=10

Nice=-10
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=90
LimitRTPRIO=95
LimitMEMLOCK=infinity

[Install]
WantedBy=multi-user.target



